/* Page Heading */
.c-page-heading {
	max-width: 100%;
	margin: 0 auto;
	padding: 24px 0 60px;
	text-align: left;

	@media only screen and (max-width: $desktop) {
		padding: 24px 0 60px;
	}

	@media only screen and (max-width: $tablet) {
		padding: 24px 0 40px;
	}

	@media only screen and (max-width: $mobile) {
		padding: 20px 0 30px;
	}

	&__title {
		margin: 0;
		font-size: 30px;
		line-height: 1.2;

		@media only screen and (max-width: $tablet) {
			font-size: 30px;
		}

		@media only screen and (max-width: $mobile) {
			font-size: 28px;
		}
	}

	&__description {
		margin: 30px 0 0;
		line-height: 1.6;

		@media only screen and (max-width: $mobile) {
			margin: 24px 0 0;
		}
	}
}